<div class="container mt-3">
  <div class="row" data-controller="sortable">

    <div class="col-sm-6 col-lg-3">
      <div class="d-flex justify-content-between">
        <p>Nouveaux candidats</p>
        <p><strong><%= @candidatures.where(status: "nouveau").count %></strong></p>
      </div>
      <div data-sortable-target="nouveau">
        <% @candidatures.where(status: "nouveau").each do |candidature| %>
          <div class="card-asso-job-offer" data-offer-id="<%= @offer.id %>" data-candidature-id="<%= candidature.id %>">
            <h5>Prénom : <%= candidature.candidate.user.first_name %></h5>
            <h6>Expertise : <%= candidature.candidate.expertise %></h6>
            <p>Status : <%= candidature.status %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="d-flex justify-content-between">
        <p>1er entretien</p>
        <p><strong><%= @candidatures.where(status: "etape1").count %></strong></p>
      </div>
      <div data-sortable-target="etape1">
        <% @candidatures.where(status: "etape1").each do |candidature| %>
          <div class="card-asso-job-offer" data-offer-id="<%= @offer.id %>" data-candidature-id="<%= candidature.id %>">
            <h5>Prénom : <%= candidature.candidate.user.first_name %></h5>
            <h6>Expertise : <%= candidature.candidate.expertise %></h6>
            <p>Status : <%= candidature.status %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="d-flex justify-content-between">
        <p>2eme entretien</p>
        <p><strong><%= @candidatures.where(status: "etape2").count %></strong></p>
      </div>
      <div data-sortable-target="etape2">
        <% @candidatures.where(status: "etape2").each do |candidature| %>
          <div class="card-asso-job-offer" data-offer-id="<%= @offer.id %>" data-candidature-id="<%= candidature.id %>">
            <h5>Prénom : <%= candidature.candidate.user.first_name %></h5>
            <h6>Expertise : <%= candidature.candidate.expertise %></h6>
            <p>Status : <%= candidature.status %></p>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
