<div class="container mt-3">
  <div class="row" data-controller="sortable">

    <div class="col-sm-6 col-lg-2 regular-column">
      <%= render partial: "column", locals: {status: "nouveau", status_label: "Nouveaux candidats"} %>
    </div>

    <div class="col-sm-6 col-lg-2 regular-column">
      <%= render partial: "column", locals: {status: "etape1", status_label: "1er entretien"} %>
    </div>

    <div class="col-sm-6 col-lg-2 regular-column">
      <%= render partial: "column", locals: {status: "etape2", status_label: "2ème entretien"} %>
    </div>

    <div class="col-sm-6 col-lg-4 validation-column">
      <%= render partial: "column", locals: {status: "validation", status_label: "Validation"} %>
    </div>

    <div class="col-sm-6 col-lg-2 regular-column">
      <%= render partial: "column", locals: {status: "dropped", status_label: "Refus"} %>
    </div>

  </div>
</div>
