<div data-controller="cards" class="cards-bloc">
  <div class="vertical-nav">
    <div class="sticky-bar">
      <div data-action="click->cards#showCard1" data-cards-target= "button1" class="vertical-icon"><i class="fa-solid fa-house icon"></i>
        <p>Dashboard</p>
      </div>
      <div data-action="click->cards#showCard2" data-cards-target= "button2" class="vertical-icon"><i class="fa-solid fa-briefcase icon icon "></i>
        <p>Mes offres</p>
      </div>
      <div data-action="click->cards#showCard3" data-cards-target= "button3" class="vertical-icon"><i class="fa-solid fa-building icon"></i>
        <p>Mes candidats</p>
      </div>
    </div>
  </div>
  <div data-cards-target="card1" class="cards activated">
    <div class="cards-section">
      <h3>Retrouvez vos dernières offres publiées</h3>
    </div>
    <% @offers.last(3).each do |offer| %>
    <div class="a-card">
        <%= link_to offer_candidatures_path(offer) do %>
          <div class="card-primary">
            <% if offer.nonprofit.photo.attached? %>
              <div class="card-image association" style="background-image: url('<%= cl_image_path @offer.nonprofit.photo.key %>')">
            <% else %>
              <div class="card-image association" style="background-image: url('<%= image_path("background-offer.jpg") %>')">
            <% end %>
            </div>
            <div class="card-content">
              <h3><%= offer.title%></h3>
              <p><%= offer.expertise%></p>
              <div class="card-content-secondary">
                <p><i class="fa-solid fa-location-dot">&nbsp</i><%= offer.location%></p>
                <p>&#9202; <%= offer.duration%> mois</p>
                <p>&#128176; <%= offer.salary%> €</p>
                <p>💼 <%= offer.frequency%>j/semaine &nbsp</p>
              </div>
            </div>
            <div class="card-content-tertiary">
              <h1><%= offer.candidatures.count%></h1>
              <p>candidature(s)</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div data-cards-target="card2" class="applicants disabled">
    <div class="cards-section">
      <h3>Retrouvez l'ensemble de vos offres - <%= @offers.count %></h3>
    </div>
    <%=render"shared/offers_table" %>
  </div>
  <div data-cards-target="card3" class="cards disabled">
      <% @offers.each do |offer| %>
      <% end %>
    <p><%offer</p>
  </div>
</div>
