<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="text-center">Complete Your Profile</h1>
      <p class="text-center">Be a part of Demain Works' Revolution</p>
      <div class="well">
        <%= simple_form_for @candidate, url: new_candidate_path do |f| %>
          <%= f.error_notification %>

          <%= f.input :birthdate, label:"Date de Naissance" %>

          <%= f.label :availability %>
          <%= f.select :availability, ['2 demie-journées par semaine', '3 demie-journées par semaine', '4 demie-journées par semaine', '5 demie-journées par semaine'], {}, class: 'form-control' %>

          <%= f.label :expertise %>
          <%= f.select :expertise,  ['Management', 'Finance', 'Web Dev', 'Other'], {}, class: 'form-control'  %>

          <%= f.input :location %>

          <%= f.input :linkedin_url, label: "Linkedin" %>

          <%= f.button :submit, class: "btn-primary" %>
          <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
        <% end %>
      </div>
      <div class="CarouselLP">

        <input type="radio" name="slider" title="slide1" checked="checked" class="CarouselLP__nav" value="" /><input type="radio" name="slider" title="slide2" class="CarouselLP__nav" value="" /><input type="radio" name="slider" title="slide3" class="CarouselLP__nav" value="" /><input type="radio" name="slider" title="slide4" class="CarouselLP__nav" value="" />

        <div class="CarouselLP__inner">
          <div class="CarouselLP__contents">
            <div class="hemmersfont-slim newsLP__header" id="newsLP__header-overlay-1">
              NEWS |
            </div>
            <div class="hemmersfont-slim newsLP__text" id="newsLP__text-overlay-1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur.
            </div>
          </div>
          <div class="CarouselLP__contents">
            <div class="hemmersfont-slim newsLP__header" id="newsLP__header-overlay-2">
              NEWS |
            </div>
            <div class="hemmersfont-slim newsLP__text" id="newsLP__text-overlay-2">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur.
            </div>
          </div>
          <div class="CarouselLP__contents">
            <div class="hemmersfont-slim newsLP__header" id="newsLP__header-overlay-3">
              NEWS |
            </div>
            <div class="hemmersfont-slim newsLP__text" id="newsLP__text-overlay-3">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur.
            </div>
          </div>
          <div class="CarouselLP__contents">
            <div class="hemmersfont-slim newsLP__header" id="newsLP__header-overlay-4">
              NEWS |
            </div>
            <div class="hemmersfont-slim newsLP__text" id="newsLP__text-overlay-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
