<div class="container">
  <div class="row">
      <h1 class="text-center font-blue"><strong>Complete Your Profile</strong></h1>
      <h3 class="text-center">Be a part of Demain Works' Revolution</h3>
      <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for @candidate do |f| %>
          <%= f.error_notification %>

          <div class="well font-blue" >
            <%= f.input :birthdate, label:"Date de Naissance" %>
          </div>

          <div class="well font-blue" >
            <%= f.label :availability %>
            <%= f.select :availability, ['2 demie-journées par semaine', '3 demie-journées par semaine', '4 demie-journées par semaine', '5 demie-journées par semaine'], {}, class: 'form-control' %>
          </div>

          <div class ="well font-blue">
            <%= f.label :expertise %>
            <%= f.select :expertise,  ['Management', 'Finance', 'Web Dev', 'Other'], {}, class: 'form-control'  %>
          </div>

           <div class ="well font-blue">
            <%= f.input :location %>
          </div>

          <div class ="well font-blue">
            <%= f.input :linkedin_url, label: "Linkedin" %>
          </div>
          <%= f.input :photo, as: :file %>

          <%= f.button :submit, class: "btn-primary" %>
          <%= f.button :button, "Cancel", type: "reset", class: "btn-outline-secondary" %>
        <% end %>
      </div>
      <div class="col-md-6 col-md-offset-3 CarouselLP">

        <input type="radio" name="slider" title="slide1" checked="checked" class="CarouselLP__nav" value="" /><input type="radio" name="slider" title="slide2" class="CarouselLP__nav" value="" /><input type="radio" name="slider" title="slide3" class="CarouselLP__nav" value="" /><input type="radio" name="slider" title="slide4" class="CarouselLP__nav" value="" />

        <div class="CarouselLP__inner">
          <div class="CarouselLP__contents d-flex flex-column">
            <div class="d-flex w-100 justify-content-between">
              <div class="hemmersfont-slim newsLP__header col-3" id="newsLP__header-overlay-1">
                Demain Works |
              </div>
              <div class="hemmersfont-slim newsLP__text col-7" id="newsLP__text-overlay-1">
                Complétez votre profil et découvrez des opportunités qui vous correspondent.
              </div>
            </div>
          </div>
          <div class="CarouselLP__contents d-flex flex-column">
            <div class="d-flex w-100 justify-content-between">
              <div class="hemmersfont-slim newsLP__header col-3" id="newsLP__header-overlay-2">
                Demain Works |
              </div>
              <div class="hemmersfont-slim newsLP__text col-7" id="newsLP__text-overlay-2">
                Des missions de type qualitatif de chef de barbec' de compet' n'attendent que toi ma gueule.
              </div>
            </div>
          </div>
          <div class="CarouselLP__contents d-flex flex-column">
            <div class="d-flex w-100 justify-content-between">
              <div class="hemmersfont-slim newsLP__header col-3" id="newsLP__header-overlay-3">
                Demain Works |
              </div>
              <div class="hemmersfont-slim newsLP__text col-7" id="newsLP__text-overlay-3">
                Tu veux te sentir utile pour la société ? Alors arrête de brasser de la moulaga et rejoins moi !
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
