<div class="form-container">
  <div class="form-candidate">
    <%= simple_form_for(@candidate) do |f| %>
      <%= f.input :birthdate, label:"Date de Naissance" %>
      <div class="mb-3">
        <%= f.label :disponibilité, class:"form-label" %>
        <%= f.select :availability, ['2 demie-journées par semaine', '3 demie-journées par semaine', '4 demie-journées par semaine', '5 demie-journées par semaine'], {}, class: 'form-control' %>
      </div>
      <div class="mb-3">
        <%= f.label :expertise, class:"form-label" %>
        <%= f.select :expertise,  ['Management', 'Finance', 'Web Dev', 'Other'], {}, class: 'form-control'  %>
      </div>
      <%= f.input :location, label: "Lieu", placeholder:"Le lieu de résidence." %>
      <%= f.input :linkedin_url, label: "Linkedin" %>
      <%= f.input :photo, as: :file %>
      <div class="form-buttons">
        <%= f.button :submit, id:"button-create-offer", value:"Créer mon profil" %>
        <%= f.button :button, "Annuler", type: "reset", class: "btn-outline-secondary" %>
      </div>
    <% end %>
  </div>
  <div class="form-image">
    <h1>Complétez votre profil</h1>
    <img id="form-image-cover" src="<%= image_path("Illustration5.png") %>" alt="">
  </div>
</div>
