<div class="container mt-4">

  <div class="row candidature">
    <div class="col-sm-12 col-lg-6 mb-4">
      <%= render partial: "candidate_profile", locals: {candidate: @candidate} %>
    </div>
  </div>

  <% if policy(@candidate).edit? %>
    <div class="col-sm-12 col-lg-6 mb-4">
      <div>
        <h3 class="text-center mb-5">Ajoutez une expérience à votre profil</h3>
        <div>
          <%= simple_form_for([@candidate, @cv], class: "new-cv-form") do |f| %>
            <div class="d-flex">
              <%= f.input :titre,
                          label: "Titre",
                          placeholder: "Nom du poste",
                          input_html: {value: 'Expert-comptable'}%>
              <p class="p-2"></p>
              <%= f.input :entreprise,
                          label: "Entreprise",
                          placeholder: "Nom de l'entreprise",
                          input_html: {value: 'AC Expert'}%>
            </div>
            <div class="d-flex">
              <%= f.input :date_début,
                          as: :string,
                          required: false,
                          input_html: {class: "datepicker"},
                          label: "Date de début",
                          input_html: {value: '01/05/2016'}%>
              <p class="p-2"></p>
              <%= f.input :date_fin,
                          as: :string,
                          required: false,
                          input_html: {class: "datepicker"},
                          label: "Date de fin",
                          input_html: {value: '01/07/2020'}%>
            </div>
            <div class="container-full-width">
              <%= f.input :description,
                          placeholder: "Décrivez ici les missions de votre expérience.",
                          input_html: {value: "✔ Audit & Commissariat aux Comptes,
✔ Expertise comptable,
✔ Création d'entreprise,"} %>
            </div>
            <div class="d-flex justify-content-end">
              <%= f.submit id:"button-create-offer",
                          value:"Ajouter" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="col-sm-12 col-lg-6 mb-4">
      <div style="width: 100%; height: 100%; background-image: url('<%= image_path("Illustration5.png") %>');background-size: contain; background-repeat: no-repeat; background-position: center;">
      </div>
    </div>
  <% end %>


</div>

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Modifier vos informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@candidate) do |f| %>
        <%= f.input :location,
                    label: "Ville :" %>
        <%= f.input :availability,
                    label: "Disponibilité (demi-journées / semaine):" %>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Modifier vos informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@candidate) do |f| %>
        <%= f.input :photo, as: :file,
                    label: "Votre photo pricinpale" %>
        <%= f.input :linkedin_url,
                    label: "Lien LinkedIn" %>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">Modifier vos informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@candidate) do |f| %>
        <%= f.input :expertise,
                    label: "Votre domaine principal d'expertise" %>
        <%= f.input :description,
                    label: "Décrivez-vous en quelques mots" %>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
