<div class="container mt-4">

  <div class="row">
    <div class="col-sm-12 col-lg-6 mb-4">
      <%= render partial: "candidate_profile", locals: {candidate: @candidate} %>
    </div>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Modifier vos informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@candidate) do |f| %>
        <%= f.input :location,
                    label: "Ville :" %>
        <%= f.input :availability,
                    label: "Disponibilité (demi-journées / semaine):" %>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Modifier vos informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@candidate) do |f| %>
        <%= f.input :photo, as: :file,
                    label: "Votre photo pricinpale" %>
        <%= f.input :linkedin_url,
                    label: "Lien LinkedIn" %>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aboutModalLabel">Modifier vos informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@candidate) do |f| %>
        <%= f.input :expertise,
                    label: "Votre domaine principal d'expertise" %>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
