<div class="container ms-5 me-5 ps-5 pe-5">
<h4 class="text-center mb-4 mt-4">Remplissez automatiquement les informations de votre entreprise</h4>

  <div data-controller="find-company" class="container-full-width">
    <%= simple_form_for(@company, data: { find_company_target: "input", action: "submit->find-company#results" }, html: {class: "me-3"} ) do |f| %>
      <%= f.input :name,
                  label: false,
                  placeholder: "Recherchez votre entreprise",
                  value: params[:name] %>
      <button type="submit" class="button association ms-0">
        Rechercher
      </button>
    <% end %>

<ul data-find-company-target="results" data-action="click->find-company#display" class="p-0 d-none clickable-list-result"> Résultats de votre recherche</ul>

  <%= simple_form_for(@company, html: { class: "d-none mt-4" }, data: { find_company_target: "output" } ) do |f| %>
    <%= f.input :name,
                label: "Nom de l'entreprise :",
                input_html: { "data-target" => "find-company.name" } %>
    <%= f.input :address,
                label: "Addresse complète :",
                input_html: { "data-target" => "find-company.address" }  %>
    <%= f.input :siret,
                label: "Numéro SIRET :",
                input_html: { "data-target" => "find-company.siret" }  %>
    <button type="submit" class="button association ms-0">
      Enregistrer
    </button>  <% end %>
</div>

</div>
