<section>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Titre</th>
          <th> Entreprise</th>
          <th>Description</th>
          <th> Date de début</th>
          <th> Date de fin</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody class="body-table">
        <% @cvs.each do |cv| %>
          <tr>
            <td><%= cv.titre %></td>
            <td><%= cv.entreprise %></td>
            <td><%= cv.description %></td>
            <td> <p><i class="fa-solid fa-calendar-days icon-pink"></i><%= cv.date_debut %> Date de début</p></td>
            <td><p><i class="fa-solid fa-calendar-days icon-pink"></i><%= cv.date_fin %> Date de fin </p></td>
          </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to candidate_cvs_path do %>
      <button class="association">Créer une nouvelle expérience</button>
    <%end%>
  </div>
</section>
