<div class="search-title">
  <h4>Découvrez les offres disponibles</h4>
</div>
<%= form_tag offers_path, class: "search", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Recherchez une offre..."
  %>&nbsp&nbsp
  <%= select_tag :mission,
    options_for_select( Nonprofit::MISSIONS,params[:mission]),
    class: "form-control",
    include_blank: "Selectionnez une mission..."
  %>&nbsp&nbsp
  <%= select_tag :frequency,
    options_for_select( Offer::FREQUENCY,params[:frequency]),
    class: "form-control",
    include_blank: "Selectionnez une fréquence..."
  %>
  <%= submit_tag "C'est parti", class: "button association" %>
<% end %>

<div class="break"></div>
<div class="cards-section"><h4>Résultats de recherche - <%= @offers.count%></h4></div>
<div class="offers">
  <% @offers.reverse.each do |offer| %>
    <%= link_to offer_path(offer) do %>
      <div class="card-asso-job-offer">
        <h4><%= offer.title %></h4>
        <div class="d-flex justify-content-between card-asso-job-offer-secondary">
          <p><i class="fa-solid fa-location-dot">&nbsp</i><%= offer.location%></p>
          <p>&#9202; <%= offer.duration %> mois</p>
        </div>
        <div class="d-flex justify-content-between card-asso-job-offer-secondary">
          <p>&#128176; <%= offer.salary%> €/mois </p>
          <p>💼 <%= offer.frequency.fdiv(2).round(1)  %> jours / semaine</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
