<div class="form-container">
  <div class="form-image">
    <h1>Créez une nouvelle offre</h1>
    <img id="form-image-cover" src="<%= image_path("Illustration4.png") %>" alt="">
  </div>
  <div class="form">
    <%= simple_form_for(@offer) do |f| %>
      <%= f.input :title, label: "Titre", placeholder: "Un titre de poste évocateur."%>
      <%= f.input :expertise, placeholder: "Les compétences attendues par le candidat idéal." %>
      <%= f.input :description, placeholder: "Décrivez ici les missions et attentes de votre offre." %>
      <%= f.input :start_date, label: "Date de début" %>
      <%= f.input :duration, label: "Durée", placeholder: "La durée de votre contrat." %>
      <%= f.input :frequency, label: "Fréquence", placeholder: "Le nombre de demi-journées par semaine"  %>
      <%= f.input :location, label: "Lieu" %>
      <%= f.input :salary, label: "Salaire" %>
      <%= f.submit id:"button-create-offer", value:"Créer l'offre" %>
    <% end %>
  </div>
</div>
