<% if @offer.nonprofit.photo.attached? %>
  <div class="banner-offer" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%), url('<%= cl_image_path @offer.nonprofit.photo.key %>')">
<% else %>
  <div class="banner-offer" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%), url('<%= image_path("background-offer.jpg") %>')">
<% end %>
  <div class="container">
    <h1><%= @offer.title %></h1>
    <br>
    <h2><%= @offer.nonprofit.name %></h2>
    <ul class="list-in-banner list-inline">
      <li><i class="fa-solid fa-location-dot">&nbsp</i><%= @offer.location %>&nbsp</li>
      <li>&#128176; <%= @offer.salary %>€/mois &nbsp</li>
      <li>💼 <%= @offer.frequency.fdiv(2) %>j/semaine &nbsp</li>
      <li>&#9202; <%= @offer.duration %> mois &nbsp</li>
      <li>Début: <%= @offer.start_date %> &nbsp</li>
      <li>Publié le <%= @offer.created_at %></li>
    </ul>
    <% if @offer.candidatures.find_by(user_id: current_user&.id) %>
      <p>Votre candidature a bien été prise en compte !</p>
    <% elsif policy(@candidature).new? %>
      <button type="button" class="application-button" data-bs-toggle="modal" data-bs-target="#infoModal">
        Postuler
      </button>
    <% elsif user_signed_in? && current_user.status =="Candidat" %>
      <p>Vous devez avoir complété votre profil candidat pour postuler à cette offre</p>
      <%= link_to new_candidate_path do %>
        <button class="button candidate">Compléter mon profil candidat</button>
      <%end%>
    <% else %>
      <p>Vous devez être connecté.e en tant que candidat.e et avoir complété votre profil pour postuler à cette offre</p>
    <% end %>
  </div>
</div>
<div class="offer-container d-flex justify-content-between">
  <div class="offre-poste">
    <h2>Desciptif du poste</h2>
    <%= @offer.description %>
    <br>
    <br>
    <h2>Desciptif de l'association</h2>
    <br>
    <% if @offer.info.html_safe? %>
      <%= @offer.info.html_safe %>
    <% else %>
      <%= @offer.info %>
    <% end %>
  </div>
  <div class="card-application">
    <h6><%= @offer.title %></h6>
    <ul>
      <li><i class="fa-solid fa-location-dot">&nbsp</i><%= @offer.location %></li>
      <li>&#128176; <%= @offer.salary %>€/mois</li>
      <li>💼 <%= @offer.frequency.fdiv(2) %>j/semaine</li>
      <li>&#9202; <%= @offer.duration %> mois</li>
      <li>Début: <%= @offer.start_date %></li>
    </ul>
    <% if policy(@candidature).new? %>
      <button type="button" class="application-button-card" data-bs-toggle="modal" data-bs-target="#infoModal">
        <div class="d-flex justify-content-between">
          <div>
            Postuler
          </div>
          <div>&#8594;</div>
        </div>
      </button>
    <% end %>
  </div>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Modifier vos informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <%= simple_form_for [@offer, @candidature] do |f| %>
        <%= f.input :motivation, label: "Dites-nous en plus sur vos motivations à rejoindre #{@offer.nonprofit.name}" %>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
