<% if user_signed_in? && Nonprofit.find_by(user_id: current_user.id).present? %>
  <% nonprofit = Nonprofit.find_by(user_id: current_user.id) %>
<% end %>
<% if user_signed_in? && Candidate.find_by(user_id: current_user.id).present? %>
  <% candidate = Candidate.find_by(user_id: current_user.id) %>
<% end %>
<% if user_signed_in? && Company.find_by(user_id: current_user.id).present? %>
  <% company = Company.find_by(user_id: current_user.id) %>
<% end %>

<% if @offer.nonprofit.photo.attached? %>
  <div class="banner-offer" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%), url('<%= cl_image_path @offer.nonprofit.photo.key %>')">
<% else %>
  <div class="banner-offer" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%), url('<%= image_path("background-offer.jpg") %>')">
<% end %>
  <div class="container">
    <h1><%= @offer.title %></h1>
    <br>
    <h2><%= @offer.nonprofit.name %></h2>
    <ul class="list-in-banner list-inline">
      <li><i class="fa-solid fa-location-dot">&nbsp</i><%= @offer.location %>&nbsp</li>
      <li>&#128176; <%= (@offer.salary * @offer.frequency.fdiv(10)).round(0) %> €/mois &nbsp</li>
      <li>💼 <%= @offer.frequency.fdiv(2) %>j/semaine &nbsp</li>
      <li>&#9202; <%= @offer.duration %> mois &nbsp</li>
      <li>Début: <%= @offer.start_date %> &nbsp</li>
      <li>Publié le <%= @offer.created_at %></li>
    </ul>
    <% if @offer.candidatures.find_by(user_id: current_user&.id) %>
      <p>Votre candidature a bien été prise en compte !</p>

    <% elsif (user_signed_in? && current_user.status =="Candidat") %>
        <% if (!candidate&.present? && company&.present?) %>
          <p>Vous devez avoir complété votre profil candidat pour postuler à cette offre</p>
        <% elsif candidate&.present? && company&.present? %>
          <p>Dites-nous en plus sur vos motivations à rejoindre <% @offer.nonprofit.name %> </p>
        <% else %>
          <p>Vous devez avoir renseigné votre entreprise pour postuler à cette offre</p>
        <% end %>

    <% else %>
      <p>Vous devez être connecté.e en tant que candidat.e et avoir complété votre profil pour postuler à cette offre</p>
    <% end %>
  </div>
</div>
<div class="offer-container d-flex justify-content-between">
  <div class="offre-poste editable">
    <% if policy(@offer).edit?  %>
      <button type="button" class="edit-button" data-bs-toggle="modal" data-bs-target="#descriptionModal">
        <i class="fa-solid fa-pen-to-square"></i>
      </button>
    <% end %>
    <h2>Descriptif du poste</h2>
    <h6>En quelques mots</h6>
    <%= @offer.description %>
    <h6 class="mt-4">Informations complémentaires</h6>
    <p class="small-grey-text">
      <%= @offer.content %>
    </p>

    <br>
    <br>
    <h2> <%= link_to nonprofit_path(@offer.nonprofit) do %>
        Plus d'information sur <%= @offer.nonprofit.name %> <i class="fa-solid fa-eye ms-3"></i>
      <% end %>
    </h2>
    <br>
    <% if @offer.info.html_safe? %>
      <%= @offer.info.html_safe %>
    <% else %>
      <%= @offer.nonprofit.description %>
    <% end %>
  </div>
  <div class="card-application">
    <h6><%= @offer.title %></h6>
    <ul>
      <li><i class="fa-solid fa-location-dot">&nbsp</i><%= @offer.location %></li>
      <li>&#128176; <%= (@offer.salary * @offer.frequency.fdiv(10)).round(0) %>€/mois</li>
      <li>💼 <%= @offer.frequency.fdiv(2) %>j/semaine</li>
      <li>&#9202; <%= @offer.duration %> mois</li>
      <li>Début: <%= @offer.start_date %></li>
    </ul>
     <% if @offer.candidatures.find_by(user_id: current_user&.id) %>
      <p>Candidature prise en compte !</p>
    <% elsif (user_signed_in? && current_user.status =="Candidat") %>
        <% if (!candidate&.present? && company&.present?) %>
          <%= link_to new_candidate_path do %>
            <button class="application-button-card">Compléter mon profil candidat</button>
          <% end %>
        <% elsif candidate&.present? && company&.present? %>
          <button type="button" class="application-button-card" data-bs-toggle="modal" data-bs-target="#infoModal">
            <div class="d-flex justify-content-between">
              <div>
                Postuler
              </div>
              <div>&#8594;</div>
            </div>
          </button>
       <% else %>
          <%= link_to new_company_path, class: "navbar-brand" do %>
            <button class="application-button-card">renseigner mon entreprise</button>
          <% end %>
        <% end %>
    <% else %>
      <p>Connectez vous en tant que candidat.e</p>
    <% end %>
  </div>
</div>
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Postuler à l'offre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <%= simple_form_for [@offer, @candidature] do |f| %>
        <%= f.input :motivation, label: "Dites-nous en plus sur vos motivations à rejoindre #{@offer.nonprofit.name}",  input_html: {value: "Bonjour,
Je me permets de vous contacter car je suis très intéressée par l'offre d'Expert Comptable au sein du Bureau des Cœurs.
Ayant déjà plusieurs d'années d'expérience en tant qu'EC à mon actif, j'espère que mon profil correspondra à vos attentes.
Vous trouverez toutes les informations nécessaires pour me contacter sur mon profil.
Au plaisir d'échanger très vite avec vous.
Bien cordialement,
Mouna"} %>
        <div class="button-wrapper">
          <button id="submit-candidature" type="submit" class="button association">Envoyer !</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0">
    <div class="modal-content xl-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="descriptionModalLabel">Modifier votre offre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@offer) do |f| %>
        <%= f.input :description,
                    class: "xl-modal-input",
                    label: "Description courte :" %>
        <div class="field">
          <%= f.input :content, as: :rich_text_area,
                      class: "xl-modal-input",
                      label: "Description détaillée :" %>
        </div>
        <div class="d-flex">
          <button type="submit" class="button association ms-0">Enregistrer</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>