<% if @offer.nonprofit.photo.attached? %>
  <div class="banner-offer" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%), url('<%= cl_image_path @offer.nonprofit.photo.key %>')">
<% else %>
  <div class="banner-offer" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%), url('<%= image_path("background-offer.jpg") %>')">
<% end %>
  <div class="container">
    <h1><%= @offer.title %></h1>
    <p><%= @offer.nonprofit.name %></p>
    <% if @offer.candidatures.find_by(user_id: current_user&.id) %>
      <p>Votre candidature a bien été prise en compte !</p>
    <% elsif policy(@candidature).new? %>
      <button type="button" class="application-button" data-bs-toggle="modal" data-bs-target="#infoModal">
        Postuler
      </button>
    <% elsif user_signed_in? && current_user.status =="Candidat" %>
      <p>Vous devez avoir complété votre profil candidat pour postuler à cette offre</p>
      <%= link_to new_candidate_path do %>
        <button class="button candidate">Compléter mon profil candidat</button>
      <%end%>
    <% else %>
      <p>Vous devez être connecté.e en tant que candidat.e et avoir complété votre profil pour postuler à cette offre</p>
    <% end %>
  </div>
</div>
<div class="container">
  <%= @offer.start_date %>
  <%= @offer.duration %>
  <%= @offer.location %>
  <%= @offer.frequency %>
  <%= @offer.description %>
</div>

<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Modifier vos informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <%= simple_form_for [@offer, @candidature] do |f| %>
        <%= f.input :motivation, label: "Dites-nous en plus sur vos motivations à rejoindre #{@offer.nonprofit.name}" %>
        <button type="submit" class="btn btn-primary">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
