<div class="container">
  <% @associations.each do |association| %>
    <div>
      <h4><%= association.name %></h4>
      <h5><%= association.mission %></h5>
      <h6><%= association.sector %></h6>
      <p><%= association.description %></p>
      <p><%= association.address %></p>
    </div>
  <% end %>
</div>
