<div class="container">
<h4>Veuillez renseigner le numéro RNA de votre association</h4>

  <div data-controller="search-asso">
    <%= simple_form_for(@association, data: { search_asso_target: "input", action: "submit->search-asso#display" } ) do |f| %>
      <%= f.input :siret, value: params[:siret] %>
      <%= f.submit %>
    <% end %>

    <%= simple_form_for(@association, html: { class: "d-none" }, data: { search_asso_target: "output" } ) do |f| %>
      <%= f.input :name %>
      <%= f.input :mission %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :sector %>
      <%= f.input :description %>
      <%= f.input :siret %>
      <%= f.submit %>
    <% end %>
  </div>

</div>
