<div class="container mt-4">

  <div class="d-flex association-section">

    <% if @nonprofit.photo.attached? %>
      <div class="asso-photo-xl editable" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%), url('<%= cl_image_path @nonprofit.photo.key %>');background-size: cover; background-repeat: no-repeat; background-position: center;">
    <% else %>
      <div class="asso-photo-xl editable" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%), url('<%= image_path("illustration2.jpg") %>');background-size: cover; background-repeat: no-repeat; background-position: center;">
    <% end %>
      <% if policy(@nonprofit).edit? %>
        <button type="button" class="edit-button" data-bs-toggle="modal" data-bs-target="#imageModal">
          <i class="fa-solid fa-pen-to-square"></i>
        </button>
      <% end %>
      <% if @nonprofit.logo.attached? %>
        <div class="asso-logo" style="background-image: url('<%= cl_image_path @nonprofit.logo.key %>')">
        </div>
      <% else %>
        <div class="asso-logo" style="background-image: url('<%= image_path("default-np-logo.png") %>')">
        </div>
      <% end %>
    </div>
    <div class="align-top">
      <div class="d-flex justify-content-between">
        <div class="asso-details-card editable">
        <% if policy(@nonprofit).edit? %>
          <button type="button" class="edit-button" data-bs-toggle="modal" data-bs-target="#infoModal">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        <% end %>
          <h3><%= @nonprofit.name %></h3>
          <p><%= @nonprofit.mission %></p>
          <h6><i class="fa-solid fa-location-dot pe-3"></i><%= @nonprofit.address %></h6>
        </div>
        <div class="asso-social-card">
          <h5>Suivez-nous</h5>
          <span>
            <a href=""><i class="fa-brands fa-facebook p-1"></i></a>
            <a href=""><i class="fa-brands fa-instagram p-1"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in p-1"></i></a>
            <a href=""><i class="fa-solid fa-globe p-1"></i></a>
            <a href=""><i class="fa-solid fa-at p-1"></i></a>
          </span>
        </div>
      </div>
      <div class="p-3 editable">
        <% if policy(@nonprofit).edit?  %>
          <button type="button" class="edit-button" data-bs-toggle="modal" data-bs-target="#descriptionModal">
            <i class="fa-solid fa-pen-to-square"></i>
          </button>
        <% end %>
        <h5>En quelques mots:</h5>
        <p class="small-grey-text"><%= @nonprofit.description %></p>
        <% if !@nonprofit.content.empty? %>
          <h5>En détails:</h5>
          <p class="small-grey-text"><%= @nonprofit.content %></p>
        <% end %>

      </div>
    </div>
  </div>
  <div class="break"></div>

  <div class="row mt-3"><h4>Nous recrutons !</h4></div>

  <div class="row mt-3" style="align-items:start">
    <div class="col-sm-12 col-lg-6">
      <% @nonprofit.offers.each do |offer| %>
        <%= link_to offer_path(offer) do %>
          <div class="card-asso-job-offer">
            <h4><%= offer.title %></h4>
            <h5><%= offer.expertise %></h5>
            <div class="d-flex justify-content-between card-asso-job-offer-secondary">
              <p><i class="fa-solid fa-location-dot">&nbsp</i><%= offer.location%></p>
              <p>&#9202; <%= offer.duration %> mois</p>
            </div>
            <div class="d-flex justify-content-between card-asso-job-offer-secondary">
              <p>&#128176; <%= offer.salary * offer.frequency.fdiv(10)%> €/mois </p>
              <p>💼 <%= offer.frequency.fdiv(2).round(1)  %> jours / semaine</p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-12 col-lg-6 map-style"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="infoModalLabel">Modifier vos informations</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@nonprofit) do |f| %>
        <%= f.input :name,
                    label: "Nom de l'association :" %>
        <%= f.input :mission,
                    label: "Mission (choix parmi les 17 objectifs de développement durable définis par l'ONU):",
                    collection: Nonprofit::MISSIONS %>
        <%= f.input :address,
                    label: "Addresse complète :" %>
        <%= f.input :city,
                    label: "Ville :" %>
        <button type="submit" class="button association ms-0">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imageModalLabel">Modifier vos images</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@nonprofit) do |f| %>
        <%= f.input :logo, as: :file,
                    label: "Le logo de votre association" %>
        <%= f.input :photo, as: :file,
                    label: "Votre photo principale" %>
        <button type="submit" class="button association ms-0">Enregistrer</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="descriptionModal" tabindex="-1" aria-labelledby="descriptionModalLabel" aria-hidden="true">
  <div class="modal-dialog m-0">
    <div class="modal-content xl-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="descriptionModalLabel">Modifier votre description</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for(@nonprofit) do |f| %>
        <%= f.input :description,
                    class: "xl-modal-input",
                    label: "Description courte :" %>
        <div class="field">
          <%= f.input :content, as: :rich_text_area,
                      class: "xl-modal-input",
                      label: "Description détaillée :" %>
        </div>
        <div class="d-flex">
          <button type="submit" class="button association ms-0">Enregistrer</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
