<div class="container mt-4">
  <div class="d-flex">
    <div class="asso-photo-xl" style="background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.3) 100%, rgba(0, 0, 0, 0.3) 100%), url('<%= image_path("illustration2.jpg") %>');">
      <div class="asso-logo" style="background-image: url('<%= image_path("logo_blue.svg") %>'); background-size: cover; background-position: center;">
      </div>
    </div>
    <div>
      <div class="d-flex justify-content-between">
        <div class="asso-details-card">
          <h3><%= @nonprofit.name %></h3>
          <p><%= @nonprofit.mission %></p>
          <h6><i class="fa-solid fa-location-dot pe-3"></i><%= @nonprofit.address %></h6>
        </div>
        <div class="asso-social-card">
          <h5>Suivez-nous</h5>
          <span>
            <a href=""><i class="fa-brands fa-facebook p-1"></i></a>
            <a href=""><i class="fa-brands fa-instagram p-1"></i></a>
            <a href=""><i class="fa-brands fa-linkedin-in p-1"></i></a>
            <a href=""><i class="fa-solid fa-globe p-1"></i></a>
            <a href=""><i class="fa-solid fa-at p-1"></i></a>
          </span>
        </div>
      </div>
      <div class="p-3">
        <h5>A propos de notre mission:</h5>
        <p class="small-grey-text"><%= @nonprofit.description %></p>
      </div>
    </div>
  </div>
  <div class="break"></div>

  <div>
    <% @nonprofit.offers.each do |offer| %>
      <p><%= offer.title %></p>
    <% end %>
  </div>
</div>
